@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,900&display=swap');

// General Settings
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  color: #fafafa;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141e30;
  background: -webkit-linear-gradient(to left, #243b55, #141e30);
  background: linear-gradient(to left, #243b55, #141e30);
}

ul {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

// Sidebar
.sidebar {
  height: 100vh;
  width: 25%;
  max-width: 400px;
}

// Content
.content {
  margin: 50px;
  flex: 1;

  .preview {
    color: black;
    background: white;
    border: 1px solid white;
    padding: 40px;

    &__text {
      max-width: 500px;
      margin: 0 auto;
      line-height: normal;
    }

    .signature__wrapper {
      // display: flex;
      max-width: 500px;
      margin: 0 auto;
      justify-content: center;
    }
  }
}

.sc-fBuWsC {
  color: orange;
}
